:root {
  --blue: #6CAED6;
  --light-blue: #a1daf3;
  --green: #52B77C;
  --lime: #c8e069;
  --yellow: #f3da5c;
  --orange: #E8A476;
  --red: #EA8183;
  --pink: #E690AC;
  --purple: #BB8EDD;

  --light-gray: #AAAAAA;
  --gray: #6A6A6A;
  --dark: #2A2A2A;

  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh; 
    padding: 10px 0;
    flex: 1;
  }

  .nav-menu {
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    z-index: 20; 
  }

.router-link {
  text-decoration: none;
  color: inherit;
}

.form-area {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-input-label {
  text-align: center;
  margin-bottom: 2px;
}

.form-input {
  padding: 0.8rem 1rem;
  border-radius: 15px;
  border: 1px solid var(--dark);
}

button {
  width: 100%;
  color: white;
  font-weight: 600;
  border: none;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: background-color 0.2s ease;
} 

.btn-dark {
  margin-top: 0.7rem;
  background-color: var(--dark);
  border-radius: 15px;
}

.btn-dark:hover {
  background-color: #1a1a1a;
}

.btn-green {
  color: var(--dark);
  margin-top: 0.7rem;
  background-color: var(--green);
  border-radius: 15px;
}

.btn-red {
  color: var(--dark);
  margin-top: 0.7rem;
  background-color: var(--red);
  border-radius: 15px;
}